<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<root>
    <application>
        <attributes>
            <key name="log.config">standbyapp/log4j.properties</key>
            <key name="config.dump">true</key>
            <key name="connection.timeout">120</key>
            <key name="idle.wait">5</key>
        </attributes>
    </application>
    <cluster>
        <node id="NODE1">
            <address>127.0.0.1</address>
            <port>15001</port>
            <listener>false</listener>
            <level>1</level>
        </node>
        <node id="NODE2">
            <address>127.0.0.1</address>
            <port>15002</port>
            <listener>true</listener>
            <level>2</level>
        </node>
        <node id="NODE3">
            <address>127.0.0.1</address>
            <port>15003</port>
            <listener>false</listener>
            <level>3</level>
        </node>
        <node id="NODE4">
            <address>127.0.0.1</address>
            <port>15004</port>
            <listener>false</listener>
            <level>4</level>
        </node>
        <node id="NODE5">
            <address>127.0.0.1</address>
            <port>15005</port>
            <listener>false</listener>
            <level>5</level>
        </node>
    </cluster>
</root>
